
body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    color:hsl(212, 21%, 14%);
    overflow-x: hidden ;
    background-color: hsl(30, 38%, 92%);

}
html{
    font-size: 10px;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
}

.container{
    /* border: 1px solid black; */
    width: 45%;

    border-radius: 10px;
    overflow: hidden;
    height: auto;
    display: flex;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec1{
    /* width: 400px; */
    width: 50%;
}
.sec2{
    padding: 30px;
    width: 50%;
    background-color: #fff;
}
.name{
    font-family: monospace;
    letter-spacing: 5px;
}

.title{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 4rem;
    
}

.amount{
    color: hsl(158, 36%, 37%);
}
.amount>small{
    color: #2c3333;
    text-decoration: line-through;
    font-size: 14px;
}
button{
    width: 100%;
    padding: 10px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-weight: bold ;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

button:hover{
    background-color:  hsl(158, 89%, 19%);
}

@media(max-width:1100px){

    .container{
        width: 70%;
    }
}


@media(max-width:900px){

    .container{
        width: 90%;
    }
    .title{
        font-size: 3rem;
    }
}



@media(max-width:500px){
   
    .container{
        width: 90%;
        height: auto;
        display: block;

    }
    .sec1{
        height: 400px;
    width: 100%;
    }
    .sec2{
        width: fit-content;
    }
}
